@font-face {
  font-family: 'navsoft-training2';
  src:  url('fonts/navsoft-training2.eot?wau609');
  src:  url('fonts/navsoft-training2.eot?wau609#iefix') format('embedded-opentype'),
    url('fonts/navsoft-training2.ttf?wau609') format('truetype'),
    url('fonts/navsoft-training2.woff?wau609') format('woff'),
    url('fonts/navsoft-training2.svg?wau609#navsoft-training2') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'navsoft-training2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e904";
}
.icon-trash-1:before {
  content: "\e905";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-cancel-1:before {
  content: "\e907";
}
.icon-add-plus-button:before {
  content: "\e908";
}
.icon-check-sign:before {
  content: "\e909";
}
.icon-list-of-works:before {
  content: "\e90a";
}
.icon-long-checklist:before {
  content: "\e90b";
}
.icon-logout:before {
  content: "\e90c";
}
.icon-department:before {
  content: "\e90d";
}
.icon-briefcase:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-avatar-inside-a-circle:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e915";
}
.icon-calendar-2:before {
  content: "\e910";
}
.icon-hide:before {
  content: "\e913";
}
.icon-turn-off-1:before {
  content: "\e911";
}
.icon-group-1-1:before {
  content: "\e900";
}
.icon-download-1:before {
  content: "\e901";
}
.icon-bar-chart-1:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e912";
}